@import "@fontsource-variable/noto-sans";
@import "@fontsource/jetbrains-mono";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-default: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-300;
  }
}
