@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Noto Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    @apply bg-zinc-900 text-zinc-300;
  }
}