---
import NavLink from "@/components/NavLink.astro";
---

<header class="w-full">
  <nav class="flex flex-row justify-between" aria-label="Main navigation">
    <div class="flex gap-2 items-center">
      <a href="/" aria-label="Home">
        <p class="text-2xl font-semibold">#!</p>
      </a>
      {/* <ThemeToggle /> */}
    </div>
    <div class="flex gap-6 items-center justify-end">
      <NavLink href="/posts" ariaLabel="Posts">Posts</NavLink>
      <NavLink href="/tags" ariaLabel="Tags">Tags</NavLink>
      <NavLink href="/search" ariaLabel="Search">Search</NavLink>
    </div>
  </nav>
</header>
