---
import NavLink from "./NavLink.astro";
---

<div class="flex flex-col">
  <p class="font-bold">Welcome!</p>
  <ul aria-label="social links">
    <li>
      <NavLink
        href="https://www.linkedin.com/in/dhemas-nurjaya-030890bb"
        ariaLabel="Linkedin">Linkedin</NavLink
      >
    </li>
    <li>
      <NavLink href="https://github.com/dhemasnurjaya" ariaLabel="Github"
        >Github</NavLink
      >
    </li>
    <li>
      <NavLink href="https://x.com/dhemaseka" ariaLabel="X">X</NavLink>
    </li>
    <li>
      <NavLink href="https://www.facebook.com/Dhemas" ariaLabel="Facebook"
        >Facebook</NavLink
      >
    </li>
    <li>
      <NavLink href="mailto:dhemasnurjaya@gmail.com" ariaLabel="Email"
        >Email</NavLink
      >
    </li>
  </ul>
</div>
