<div
  class="max-w-5xl mb-8
      prose prose-invert
      prose-h1:border-b prose-h1:pb-4
      prose-a:underline prose-a:underline-offset-4
      prose-p:text-neutral-300 prose-p:text-justify prose-img:rounded-xl
      prose-headings:text-neutral-300"
>
  <slot />
</div>
