<div
  class="mb-8 max-w-none
      prose prose-invert
      prose-p:text-neutral-300
      prose-headings:pb-4 prose-headings:text-neutral-300 prose-headings:before:mr-2 prose-headings:before:text-neutral-500
      prose-h1:border-b prose-h1:border-neutral-500 prose-h1:text-xl prose-h1:before:content-['#']
      prose-h2:font-bold prose-h2:text-lg prose-h2:before:content-['##']
      prose-h3:font-bold prose-h3:text-base prose-h3:before:content-['###']
      prose-h4:font-semibold prose-h4:text-base prose-h4:before:content-['####']
      prose-a:underline prose-a:underline-offset-4 prose-a:text-emerald-300 prose-a:hover:text-emerald-500 prose-a:transition-colors
      prose-blockquote:border-l-2 prose-blockquote:border-neutral-500
      prose-code:before:content-none prose-code:after:content-none prose-code:bg-neutral-900 prose-code:px-1 prose-code:py-0.5 prose-code:font-normal"
>
  <slot />
</div>
