---
interface Props {
  href: string;
  ariaLabel?: string;
}

const { href, ariaLabel } = Astro.props;
---

<a
  href={href}
  class="hover:underline underline-offset-4 decoration-transparent hover:decoration-current transition-colors duration-300 aria-[current]:underline aria-[current]:decoration-current aria-[current]:font-semibold"
  aria-label={ariaLabel}
>
  <slot />
</a>
