---
interface Props {
  href: string;
  ariaLabel?: string;
  class?: string;
}

const { href, ariaLabel, class: className } = Astro.props;
---

<a
  href={href}
  class={`hover:underline underline-offset-4 ${className ?? ""}`}
  aria-label={ariaLabel}
>
  <slot />
</a>
