---
import { getQuote } from "@/lib/quote";
const { quote, author } = await getQuote();
---

<div class="sticky top-4">
  <blockquote class="border-l border-neutral-500 pl-4">
    <p class="mb-2">{quote}</p>
    <footer class="text-neutral-400 text-sm">{author}</footer>
  </blockquote>
  <span class="block text-neutral-500 py-4">---</span>
</div>
