---
interface Props {
  href: string;
  label: string;
  icon: any;
}

const { href, label, icon: Icon } = Astro.props;
---

<a
  href={href}
  aria-label={label}
  class="text-neutral-300 hover:text-neutral-100 transition-colors"
>
  <Icon class="size-6" />
</a>
