---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  href: string;
  label: string;
  icon: ImageMetadata;
  alt: string;
}

const { href, label, icon, alt } = Astro.props;
---

<a href={href} aria-label={label}>
  <Image src={icon} alt={alt} loading="eager" class="w-6 h-6 invert" />
</a>
