---
import PageTitle from "@/components/PageTitle.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Dhemas Nurjaya" description="Welcome to my personal website">
  <PageTitle title="Search" />
  <p>Come back later. This page will be available soon!</p>
</Layout>
